@font-face {
	font-family: Poppins-Regular;
	src: url("../fuentes/Poppins-Regular.ttf");
}

body
{
	font-family: Poppins-Regular;
	color: #3c5b7b;
	background: #e8e8e8!important;
}

.producto_img
{
	width: 50px;
	border-radius: 11px;
}

.detalle
{
	background: #343A40;
	color:white;
	padding:30px;
}

.detalle td p
{
	color:white!important;
}

.info
{
	background: white;
	
	padding:30px 50px;
}

.cantidad_productos
{
	padding: 1px 10px;
	background: #3fd64b;
	position: absolute;
	top: 5px;
	left: 0px;
	border-radius: 50%;
}

.retiro
{
	margin-left: 50px;
}

.mercadopago-button
{
	width: 100%!important;
}

.progresses{
	display: flex;
	align-items: center;
	width: 100%;
}

.line{
	height: 2px;
	background: #a3a3a3;
	margin: 5px;
}

.line.activo
{
	background: #3fd64b!important;	
}

.steps{

	display: flex;
	border: 3px solid #a3a3a3!important;
	color: #a3a3a3;
	font-size: 1.4em;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

}

.steps.activo
{
	border: 3px solid #3fd64b!important;
	transition: all .2s;
	color: #3fd64b!important;
}

.hide
{
	display: none;
}

.boton_label
{
	border: none;
}

.boton_label.activo
{
	background: #3fd64b!important;	
}

.boton_label:hover
{
	background: #8b8b8b;
	transition: all .4s;
}
