@font-face {
    font-family: Poppins-Regular;
    src: url("../fuentes/Poppins-Regular.ttf");
}

body
{
    font-family: Poppins-Regular;
    color: #3c5b7b;
    background: #e8e8e8!important;
}

.pasos
{
    opacity: .3;
}

.pasos.activo
{
    opacity: .8;
    padding: .3em;
    border-bottom: 3px solid #343a40ba;
}

.detalle, .info
{
    background: #fff;
    padding: 10px;
    margin-top: 3em;
}

.hide
{
    display: none;
}

.boton_label
{
    border-radius: 1px;
}

.boton_label.activo
{
    opacity: .8;
    outline: 3px solid #49dceb;
    transition: .2s;
}

footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    -webkit-box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.5);
}