@font-face {
	font-family: poppins;
	src: url("../fuentes/Poppins-Regular.ttf");
}

@font-face {
	font-family: poppins-bold;
	src: url("../fuentes/Poppins-Bold.ttf");
}

@font-face {
	font-family: Montserrat;
	src: url("../fuentes/Montserrat-Regular.ttf");
}

body
{
	font-family: Montserrat!important;
}

.titulo-pagina
{
	font-family: poppins;
	font-size: 1em;
}

.titulo-pagina-uy
{
	font-family: poppins;
	font-size: .7em;
  	color:#2d8554!important;
}

.brand-image
{
	margin-left: 0!important;
	width: 50px!important;
}

.brand-link
{
	line-height: 2.5!important;
}

.boton_eliminar_imagen
{
	position: absolute; 
	top: 0px; 
	left: 5px; 
	opacity: .5;
	font-size: 2em;
	cursor: pointer;
	color:red !important;
}

.boton_eliminar_imagen:hover
{
	opacity: .8;
	color:red!important;
	transition: .3s;
}

.contenedor_imagen
{
	border: 1px dashed #dbdbdb;
	margin: -1px -1px 0 0;
	padding: .4em;
	flex-basis: 100%;
  	flex-grow: 1;
}

.imagen_producto, .imagen_biblioteca, .imagen_biblioteca_variante
{
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	object-fit: cover;
    object-position: center;
    cursor: pointer;
    height: 90%;
}

.imagen_producto:hover
{
	background: gray;
}

.imagen_biblioteca:hover, .imagen_biblioteca.seleccionado, .imagen_biblioteca_variante:hover, .imagen_biblioteca_variante.seleccionado
{
	border: 2px solid red;
}

.ui-selected
{
	background: #144a8142;
	transition: .05s;	
}

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #c2c2c2; border-radius: 36px;
    background-color: #e3e3e3;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #c2c2c2; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #17A2B8;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #17A2B8;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.modal_temas
{
	background: #343A40;
	color:white;
}

.modal_temas_link
{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff85;
	top:0;
	left:0;
	text-align: center;
	padding-top: 20%;
	color:white;
}

.modal_temas_link i
{
	padding:10px 20px;
	background: black;
	border-radius: 6px;
}

.modal_temas_link:hover
{
	opacity: 1;
	transition-timing-function: 1s;
}

.modal_plugins
{
	background: #343A40;
	color:white;
}

.modal_plugins_link
{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff85;
	top:0;
	left:0;
	text-align: center;
	padding-top: 50%;
	color:white;
}

.modal_plugins_link i
{
	padding:10px 20px;
	background: black;
	border-radius: 6px;
}

.modal_plugins_link:hover
{
	opacity: 1;
	transition-timing-function: 1s;
}

.hide
{
	display: none;
}

.show
{
	display: block;
}

.w100
{
	width: 100%!important;
}

.valor_atributo
{
    border: solid 1px blue;
    padding: 0.3em;
    border-radius: .5em;
    margin: 0 .5em;
}

.valor_atributo_color
{
    padding: 0.3em 1em;
    border-radius: .5em;
    margin: 0 .5em;
}

.imagenes-propiedad
{
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    height: 200px;
}